.conten {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 80%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 600px) {
    form{
        width: 100%;
    }
}   
.conten h2{
    color: #007fff;
    margin: 10px;
}
