.inputs-conten{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    & label { 
        margin-right: 10px;
        font-weight: 600;
        color: var(--color-support);
    }
    & input {
        padding: 10px 10px 1px 10px;
        font-weight: 500;
        border: 0;
        outline: none;
        border-bottom: 2px solid var(--color-primary);
    }
    & input:focus {
        border-bottom: 2px solid var(--color-secondary);
    }
}
.inputs-conten.valid input {
    border-color: green;
  }
  
  .inputs-conten.invalid input {
    border-color: red;
  }
  
  .alert-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }