*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: var(--color-contrast);
}
a:hover{
  color: var(--color-secondary);
}

:root {
  --color-primary: #007FFF; /* Azure */
  --color-secondary: #45f0df; /* Light Azure */
  --color-contrast: #847D71; /* Navy Blue */
  --color-accent: #FF6F61; /* Coral */
  --color-neutral: #F5F5F5; /* Soft Gray */
  --color-support: #003366; /* Midnight Blue */
}
